.title{
    text-align: center;
    background-color:maroon;
    font-family: 'Bebas Neue', cursive;
    color:white;

}

.nav{
    display:flex;
    justify-content: center;
    align-items: center;


}

.nav a{
    text-decoration: none !important;
    color:white;
}

body{
    margin:0;
    padding:0;
}
a:link {
    text-decoration: none;
  }
 a:hover{
   text-decoration:underline;  
 }

body{
    background: maroon;
}

.marroon{
    font-family: 'Bebas Neue', cursive; 
    color: rgb(70, 1, 1); 
    text-align: center;
    font-size: 300px;
    line-height: 300px;
    background: maroon;
    margin:50px;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width:800px;
    padding:30px;
  }

  .video {
    text-align: center;
    width: 100%;

}

iframe {
    width: 540px;
    height: 300px;
    
}    

#go-top-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom:20px;
    right:30px;
    z-index: 99;
    color:white;
    background-color:maroon;
    border: 0px;
}
/*FOR PHONE*/

@media only screen and 
 (max-width: 500px) {
   .marroon { font-size: 100px;
line-height: 100px;
padding:10px;}

    #image{
        width:300px;
    }
    iframe{
        width:300px;
        height:auto;
    }
    }