.title{
    text-align: center;
    background-color:rgb(2, 255, 183);
    font-family: 'Bebas Neue', cursive;
    color:white;

}

.nav{
    display:flex;
    justify-content: center;
    align-items: center;
    

}

.nav a{
    text-decoration: none !important;
    color:white;
}
body{
    margin:0;
    padding:0;
}
a:link {
    text-decoration: none;
  }
 a:hover{
   text-decoration:underline;  
 }

body{
    background: rgb(2, 255, 183);
}

.lightorange{
    font-family: 'Bebas Neue', cursive; 
    color: rgb(4, 146, 106); 
    text-align: center;
    font-size: 250px;
    line-height: 250px;
    background: rgb(2, 255, 183);
    margin:50px;
}

.video{
    display: flex;  
    flex-direction: column;
    align-items: center;
    padding:30px;
}    

#go-top-button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom:20px;
    right:30px;
    z-index: 99;
    color:white;
    background-color:rgb(2, 255, 183);
    border: 0px;
}

/*FOR PHONE*/

@media only screen and 
 (max-width: 500px) {
   .lightorange { font-size: 100px;
line-height: 100px;
padding:10px;}

    .video{
        width:200px;
    }
    }